{% extends "base.html" %}

{% block title %}Create - Employee{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/create_emp.css' %}">

<div class="container">
    <h1>Create Employee</h1> 
    
    <form method="post" enctype="multipart/form-data" class="form-elements">
        {% csrf_token %}

        
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p> 
                {% endfor %}
            </div>
        {% endif %}

       
        {% for field in form %}
            <div class="input-box">
                <label for="{{ field.id_for_label }}" class="input-label">{{ field.label }}</label>
                {{ field }}
                
                {% if field.errors %}
                    <ul class="error-list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}    

        <button type="submit" class="form-control">Submit</button> 
    </form>
</div>

{% endblock content %}
